name: Docker Image CI

on:
  push:
    branches: [ main ]
    tags:
      - v*
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get latest release version number
        id: get_version
        uses: battila7/get-version-action@v2

      - name: Echo Tag
        run: echo ${{ steps.get_version.outputs.version-without-v }}

      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and push
        id: docker_build_amd
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          platforms: linux/amd64
          tags: ${{ github.repository }}:${{ steps.get_version.outputs.version-without-v }}-amd64

      - name: Build and push
        id: docker_build_arm_v6
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          platforms: linux/arm/v6
          tags: ${{ github.repository }}:${{ steps.get_version.outputs.version-without-v }}-arm-v6

      - name: Build and push
        id: docker_build_arm_v7
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          platforms: linux/arm/v7
          tags: ${{ github.repository }}:${{ steps.get_version.outputs.version-without-v }}-arm-v7

      - name: Build and push
        id: docker_build_arm64
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          platforms: linux/arm64
          tags: ${{ github.repository }}:${{ steps.get_version.outputs.version-without-v }}-arm64
